nav{
    position: fixed;       
    top: 0;                
    left: 0;
    width: 100%;          
    display: flex;
    justify-content: space-between;
    align-items: center;    
    z-index: 1000;        
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
}
.logo img{
    height: 120px;
}
.menu{
    display: flex;
    gap: 30px;
    
}
.link{
    color: #2D408E;
    font-weight: bold;
    text-decoration: none;
    font-family: "Montserrat Bold", sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
    position: relative;
    padding: 8px 16px;

}
.link::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid black;
  border-radius: 50%;
  transform: rotate(-10deg);
  opacity: 0;
  transition: 0.3s;
}

.link.active::after {
  opacity: 1; 
}

.link:hover::after {
  opacity: 0.5; 
}


.login{
    background-color: #2D408E;
    color: #fff;
    border-radius: 60px;    
    padding: 15px 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px;
    font-weight: bold;
    transition: 0.3s;
}
.login:hover {
  background-color: #0A2E52;
}

.menu-toggle, .close-menu {
  display: none;
  background: none;
  border: none;
  color: #2D408E;
  cursor: pointer;
  z-index: 1100;
  margin-right: 20px; 
}

.close-menu {
  position: absolute; 
  top: 20px;
  right: 20px;
  color: #fff;
}


@media (max-width: 1250px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2D408E;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }

  .close-menu {
    display: block;
  }

  .link {
    font-size: 24px;
    color: #fff;
    padding: 12px 18px;
  }

  .login {
    background: #fff;
    color: #2D408E;
    font-size: 20px;
  }
  .login:hover {
    background-color: #0A2E52;
    color: #fff;
  }
}

@media (max-width: 550px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2D408E;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .menu.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }

  .close-menu {
    display: block;
  }

  .link {
    font-size: 18px;
    color: #fff;
    padding: 12px 18px;
  }

  .login {
    background: #fff;
    color: #2D408E;
    font-size: 18px;
  }
  .login:hover {
    background-color: #0A2E52;
    color: #fff;
  }
}