
.form-ref {
  background: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: all 0.3s ease;
}

.form-ref:hover {
  transform: scale(1.01);
}


.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.form-row label {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  color: #333;
}

.label-text {
  font-weight: 600;
  margin-bottom: 6px;
}

.input-with-icon {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.icon-calendario {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #2D408E; 
  pointer-events: none;
  font-size: 18px;
  cursor: pointer;
}

.input-refeicao {
 
  width: 100%;
  border: 1.8px solid #ccd1e4;
  border-radius: 10px;
  padding: 12px 14px;
  font-size: 16px;
  transition: 0.2s;
  outline: none;
  background-color: #f9fbff;
  color: #000;
}

.input-refeicao:focus
 {
  border-color: #2D408E;
  box-shadow: 0 0 0 3px rgba(63, 81, 181, 0.2);
}


.mensagem-sucesso {
  margin-top: 15px;
  background: #e7f8ec;
  color: #2e7d32;
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #a5d6a7;
  animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
