.editar-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.titulo-editar-video{
    margin: 0 auto;
    text-align: center;
    color: #1E3B7D;
    font-family: "Montserrat bold", sans-serif;
}
.form-editar-video {
color: #000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  
}

.form-editar-video input,
.form-editar-video textarea,
.form-editar-video select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  color: #000;
}
.form-editar-video input:focus {
  border-color: #2c71f6;
  box-shadow: 0 0 5px rgba(44, 113, 246, 0.4);
  outline: none;
}
.form-editar-video textarea:focus {
  border-color: #2c71f6;
  box-shadow: 0 0 5px rgba(44, 113, 246, 0.4);
  outline: none;
}

.btn-salvar-foto {
  background: linear-gradient(90deg, #a556d3 25%, #15b9cc 100%);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-salvar-foto:hover {
  opacity: 0.9;
}
