.titulo-video-detalhes{
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.titulo-descricao{
    color: #222;
    font-weight: bold;
}
.descricao-video{
    color: #222;
    padding: 30px;
    text-align: justify;
}
.player-container{
    padding: 10px;
}