.titulo-video-detalhes{
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: bold;
}
.titulo-descricao{
    color: #222;
    font-weight: bold;
}
.descricao-video{
    color: #222;
    padding: 30px;
    text-align: justify;
}
.player-container{
    padding: 10px;
}

/* loading */

.loading-video-page {
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
}


.skeleton {
  background: linear-gradient(
    90deg,
    #e5e5e5 25%,
    #f0f0f0 37%,
    #e5e5e5 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 10px;
}


.loading-header {
  height: 32px;
  width: 60%;
  margin: 0 auto 25px auto;
}


.loading-player {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #000;
}


.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid rgba(255,255,255,0.2);
  border-top: 5px solid #2D408E;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.loading-desc .line {
  height: 16px;
  margin-bottom: 12px;
}

.loading-desc .line.short {
  width: 60%;
}

/* Animações */
@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .loading-player {
    height: 220px;
  }

  .loading-header {
    width: 80%;
  }
}
