@font-face {
  font-family: "Montserrat";
  src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}


:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{

  display: flex;
  flex-direction: column;  
  background-color: #eee;
}

main {
  flex: 1; 
  width: 100%;
  margin-top: 120px;
}
.sobre-main{
  flex: 1; 
  width: 100%;
  margin-top: 70px;
}
.evento-main{
  flex: 1; 
  width: 100%;
  margin-top: 85px;
}
.page {
  flex: 1;             
  display: flex;
  flex-direction: column;
}
.layout {
  display: flex;
}
.page2 {
    width: 100%;
  transition: margin-left .5s ease;
  flex: 1;
  padding: 0px 0px 0px 100px;
}
#sidebar.open-sidebar ~ .page2 {
  margin-left: 15%; 
}
.eventos-page {
  
  flex: 1;
  display: flex;
  flex-direction: column;  
}

.galeria-page {
  background-color: #0DB39E;
  flex: 1;

}







