@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BM HANNA";
  src: url('./fonts/bm-hanna-pro.regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}


:root {
  font-family: "Poppins", "BM HANNA", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{

  display: flex;
  flex-direction: column;  
  background-color: #D1E0F0;
}

main {
  flex: 1; 
  width: 100%;
  margin-top: 120px;
}
.page {
  flex: 1;             
  display: flex;
  flex-direction: column;
}
.layout {
  display: flex;
}
.page2 {
  margin-left: 80px;   
  transition: margin-left .5s ease;
  flex: 1;
  padding: 20px;
}
#sidebar.open-sidebar ~ .page2 {
  margin-left: 15%; 
}
.eventos-page {
  background: linear-gradient(
    90deg,
    rgba(165, 86, 211, 1) 25%,
    rgba(21, 185, 204, 1) 100%
  );
  flex: 1;
  display: flex;
  flex-direction: column;  
}

.galeria-page {
  background-color: #354E36;
  flex: 1;

}







