

.tabela-refeicoes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  color: #2D408E;
}


.table-registros {
  border-collapse: collapse;
  width: 90%;
  max-width: 740px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: auto;
  display: block;
  white-space: nowrap;
}

.table-registros thead {
  background: #2D408E;
  color: #fff;
}

.table-registros th,
.table-registros td {
  border-bottom: 1px solid #eee;
  padding: 12px 16px;
  text-align: center;
  font-size: 15px;
}

.table-registros th {
  font-weight: 600;
  background: #2D408E;
  color: white;
}

.table-registros tr:hover {
  background-color: #f7f7ff;
}


.linha-manual {
  background-color: #e8f5e9;
}

.linha-automatica {
  background-color: #e3f2fd; 
}

.tag-manual {
  background: #0DB39E;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.tag-auto {
  background: #2196f3;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}


.mensagem {
  margin: 15px auto;
  color: #2e7d32;
  font-weight: 600;
  font-size: 15px;
  background: #e7f8ec;
  border: 1px solid #a5d6a7;
  padding: 10px;
  border-radius: 6px;
  width: fit-content;
}


@media (max-width: 900px) {
  .table-registros {
   max-width: 650px;
    font-size: 14px;
  }

  .table-registros th,
  .table-registros td {
    padding: 10px 8px;
  }

  .titulo-ref h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .table-registros {
    font-size: 13px;
    overflow-x: scroll;
  }

  .titulo-ref img {
    height: 40px;
  }

  .titulo-ref h2 {
    font-size: 1.2rem;
  }

  .tag-manual,
  .tag-auto {
    font-size: 12px;
    padding: 3px 8px;
  }
}

@media (max-width: 400px) {
  .table-registros {
    font-size: 12px;
  }

  .table-registros th,
  .table-registros td {
    padding: 8px 6px;
  }
}
