.menu-portais{
    background-color: #fff;
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.link-usuarios{
    text-align: center;
    background-color: #1F4396;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
    transition: all 0.3s ease;
}
.link-usuarios:hover{
    background-color: #2c71f6;
}
.link-gamificacao{
    text-align: center;
     background: linear-gradient(90deg, #2D408E 0%, #46A1D1 50%, #0DB39E 100%);
  padding: 20px 40px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
    transition: all 0.3s ease;
}
.link-gamificacao:hover{
     background: linear-gradient(90deg, #233372 0%, #34789c 50%, #0b8a79 100%);

  
}