
.menu-ativ{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.div-cor{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1f1f1f;
  font-size: 11px;
  font-weight: bold;
}
.cor1{
  background-color: #2D408E;
  color: #2D408E;
}
.cor2{
  color: #0DB39E;
  background-color: #0DB39E;
}
.cor3{
  color: #CC3F43;
  background-color: #CC3F43;
}
.titulo-sala-alunos {
  position: relative;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


#sala{
    padding-left: 20px; 
    padding-right: 20px; 
    box-sizing: border-box;
}
.menu-turma{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}
.menu-turma a{
    color: black;
    text-decoration: none;
}

.menu-turma a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(155, 155, 155);
}
.menu-turma a.active{
    text-decoration: underline;

}

.ativ-sala{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.prox-ativ, .atividade{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    box-sizing: border-box;

}
.prox-ativ{
    min-width: 200px;
}
.prox-ativ ul{
  list-style: disc; 
  color: #cc9900;
  padding-left: 20px;
}
.prox-ativ li{
    
    transition: all 0.3s ease;
}
.prox-ativ li:hover{
    color: #745703;
    cursor: pointer;
    text-decoration: underline;
}

.atividades{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    padding: 20px;    
    width: 100%;

}
.atividade{
  border-left: 10px solid #2D408E;
  background-color: #fff;
  color: #000;
  text-decoration: none;
    transition: all 0.2s ease;
}
.atividade:hover{
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.postar-ativ{
  text-align: center;
}
.botao-postar-ativ {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 6px;
  background: #46A1D1;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.botao-postar-ativ:hover{
  background-color: #0A2E52;
}
.sem-atividade{
  text-align: center;
  color: #000;
}

@media (max-width: 768px) {
  .menu-turma {
    font-size: 14px;
    justify-content: center; 
  }

  .titulo-sala {
    text-align: center;
    padding: 15px;
  }

  .atividade {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .folder {
    margin-bottom: 10px;
  }
}


@media (max-width: 600px) {
  .ativ-sala {
    flex-direction: column; 
    gap: 20px; 
  }

  .prox-ativ,
  .atividade { 
    width: 100%; 
    min-width: unset;
  }

  .atividade {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 480px) {
  .menu-turma {
    flex-direction: column;
    align-items: center;
  }

  .prox-ativ,
  .atividade {
    width: 100%; 
    min-width: unset;
  }
}


@media (max-width: 380px) {
  .atividade{
      padding: 10px;
  }
}
