.header-curso {
  padding: 40px;
  text-align: center;
  color: white;
  border-radius: 12px;
}

.header-curso.jovem {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

.header-curso.musica {
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
}

.header-curso.informatica {
  background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);
}

.header-curso.esportes {
  background: linear-gradient(135deg, #f7971e 0%, #ffd200 100%);
}

.header-curso.pre {
  background: linear-gradient(135deg, #ff512f 0%, #dd2476 100%);
}


.header-curso.padrao {
  background: linear-gradient(135deg, #606c88 0%, #3f4c6b 100%);
}


.titulo-curso{
    display: flex;   
    justify-content: space-between;
    align-items:center;
    color: white;
}
.h1-curso{
  color: #fff;
  text-align: start;
  font-family: "Poppins", sans-serif;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6),
                 -1px -1px 2px rgba(0, 0, 0, 0.4);
  font-size: 40px;
}
.descricao{
  text-align: justify;
  font-size: 15px;
  padding: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5),
                 -1px -1px 2px rgba(0, 0, 0, 0.3);
}
.detalhes-basicos{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5),
                 -1px -1px 2px rgba(0, 0, 0, 0.3);
}
.btn-inscricao-curso{
    background-color: #fff;
    color:#000;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.btn-inscricao-curso:hover{
    transform: scale(1.08);
    background-color: #ffee00;
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn-matriz-curso{
    background-color: #2575fc;
    color:#fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}
.btn-matriz-curso:hover{
    transform: scale(1.08);
    background-color: #1F4396;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tabs-section{
    display: flex;
    padding: 30px;
}
.tabs-header{
    font-family: "Poppins", sans-serif;
    display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-right: 2px solid #000;
  padding-bottom: 10px;
}
.tab-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.2s ease-in-out;
}

.tab-btn:hover {
  background: #f3f3f3;
}

.tab-btn.ativa {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #fff;
  font-weight: 600;
}
.tabs-content {
  margin-left: 10px;
  animation: fadeIn 0.4s ease-in-out;
}

.tabs-content h2 {
  margin-bottom: 10px;
  color: #000;
}

.tabs-content p {
  font-size: 1rem;
  color: #222;
  line-height: 1.6;
}

/* corpo docente */
.corpo-section {
  text-align: center;
  padding: 60px 20px;
  position: relative;
  font-family: "BM HANNA", sans-serif;
  background-color: #253994;
  overflow: hidden;
}
.slick-prev,
.slick-next {
  display: block !important;
  z-index: 5;
}
.corpo-section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
}

.card-corpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 100%;
  transition: transform 0.3s ease;
}

.card-corpo:hover {
  transform: scale(1.05);
}

.card-corpo img {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-corpo .nome {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-corpo .cargo {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #dc313c;
}
.arrow-corpo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 10px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-corpo:hover {
  color: #dc313c;
  transform: translateY(-50%) scale(1.1);
}

.arrow-corpo-left {
  left: 10px;
}

.arrow-corpo-right {
  right: 10px;
}

/* carrosel espaço */

.espaco-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f5f5f5;
  border-radius: 12px;
  position: relative;
}

.espaco-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.slide-espaco img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.arrow-espaco {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #a3a3a3; 
  background: transparent;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.3s ease;
}

.arrow-espaco:hover {
  
  transform: translateY(-50%) scale(1.1);
}

.arrow-espaco-left {
  left: 20px;
  top: -35px;
}

.arrow-espaco-right {
  right: 20px;
  top: -35px;
}


.slick-dots li button:before {
  color: #333;
}

.slick-dots li.slick-active button:before {
  color: #2575fc;
}
/* como */
.como-ingressar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #000;
}
.como-ingressar p{
  margin-left: 20px;
}
/* duvidas */
.duvidas-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-duvidas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd200;
  color: #000;
  
}
.div-duvidas div{
  padding: 30px;
}
.div-duvidas  img{
  height: 200px;
}
.btn-whats{
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s ease;
}
.btn-whats:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* responsividade */
@media (max-width: 700px) {
  .div-duvidas {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
  }
  .div-duvidas  img{
    height: 300px;
    width: 300px;
  }
  
}
@media (max-width: 600px) {
  .titulo-curso{
    justify-content: center;
    flex-direction: column;
  }
  .h1-curso{
    text-align: center;
  }
  .detalhes-basicos{
    flex-direction: row;
    font-size: 15px;
  }
  .tabs-section{
    flex-direction: column;
  }
  .tabs-header{
    border-right: none;
    border-bottom: 2px solid #000;
  }
}