.subtitulo-contato{
    color: #000;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.container-contato{
    background-color: #2d408e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.opcoes-contato div{
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    border: 1px solid black;
    color: #000;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}
.form-contato{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    font-family: "Montserrat", sans-serif;
    position: relative;

}
.form-contato input,
.form-contato textarea {
  width: 100%;
  padding: 12px 15px;
  background-color: #fff;
  border: 1px solid #ccc;
    color: #000;
  border-radius: 30px;
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
}

.form-contato input:focus,
.form-contato textarea:focus {
  border-color: #0DB39E;
  box-shadow: 0 0 8px rgba(85, 105, 95, 0.4);
}

.form-contato textarea {
  min-height: 120px;
  resize: vertical;
}

.form-contato button {
  background-color: #2d408e;
  color: #fff;
  padding: 12px 25px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;  
  border-radius: 20px;
  transition: all 0.3s ease;
}

.form-contato button:hover {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #0DB39E;
}
.div-mapa{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.mapa-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.mapa-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 24px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  z-index: 9999;
  opacity: 0;
  animation: slideDown 0.4s forwards, fadeOut 0.5s ease 2.5s forwards;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.toast.sucesso {
  background-color: #28a745;
}

.toast.erro {
  background-color: #dc3545;
}

@keyframes slideDown {
  from {
    transform: translate(-50%, -20px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}

/* responsividade */
@media (max-width: 768px) {
    .container-contato{
        flex-direction: column;
    }
    .form-contato{
       width: 100%; 
    }
}