.inicio-proximos-eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7B4C96;
    padding: 40px;
}
.inicio-proximos-eventos h1{
    color: #7B4C96;
    font-size:40px;
}
.inicio-proximos-eventos span{
    color: #1E3B7D;
}