.inicio-proximos-eventos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #cc3f43;
    padding: 40px;
}
.inicio-proximos-eventos h1{
    color: #cc3f43;
    font-size:40px;
}
.inicio-proximos-eventos span{
    color: #2D408E;
}