.h2-ajuda {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  color: #222;
  font-size: 40px;
}

.subtitulo-ajuda {
  color: #000;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 30px;
}

.perguntas-portal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 20px;
}

.card-pergunta {
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  font-weight: 500;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-pergunta:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px;
  transform: scale(1.03);
}

.card-pergunta.ativo {
  background-color: #f0f8ff;
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

.texto-card {
  transition: all 0.3s ease;
}

.contato-suporte {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: black;
  font-weight: 500;
  padding: 20px;
}

.contato-suporte div {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .card-pergunta {
    font-size: 14px;
    padding: 15px;
    min-height: 100px;
  }

  .h2-ajuda {
    font-size: 24px;
  }

  .subtitulo-ajuda {
    font-size: 16px;
  }

  .contato-suporte {
    flex-direction: column;
    align-items: flex-start;
  }
}
