.fundo-login{
    
    border-radius: 20px;
    margin: 20px;
    min-height:60%;
    display: flex;
    flex-direction: column;
}
.titulo-login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.titulo-login img{
    height: 70px;
}
.titulo-login p{
    font-family: "BM HANNA", sans-serif;
    color: #3E6EAD;
}
.bemvindo-login{
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
}
.bemvindo-login h1 {
    color: #3E6EAD;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #148EF3;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.google-btn:hover {
  background-color: #055291;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.google-icon {
  font-size: 20px;
}

.voltar-home-wrapper{
  display: flex;
  justify-content: flex-start;
}
.voltar-home{
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: white;
  text-decoration: none;
  padding: 8px 18px;
  color: black;
  font-weight: bold;
  font-family: "BM HANNA", sans-serif;
  margin: 14px;
  transition: all 0.3s ease;
}
.voltar-home:hover{
  background-color: #1E3B7D;
  color: #fff;
}
.esqueci-senha-btn {
  background: none;
  border: none;
  color: #007bff;
  margin-top: 10px;
  font-size: 0.95rem;
  cursor: pointer;
  text-decoration: underline;
}

.esqueci-senha-btn:hover {
  color: #0056b3;
}
