.relatorios-container {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #333;
  padding-bottom: 50px;
}

.filtros-relatorios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 30px 0;
}

.filtros-relatorios input,
.filtros-relatorios select {
    background-color: #fff;
    color: #000;
  margin-left: 8px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.filtros-relatorios button {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.filtros-relatorios button:hover {
  background-color: #283593;
}

.relatorios-container .mensagem {
  color: #e53935;
  font-weight: 600;
}

.resumo-relatorio {
  margin: 20px auto;
  background: #f0f3ff;
  border-radius: 12px;
  padding: 15px;
  width: 80%;
  max-width: 700px;
}

.resumo-relatorio ul {
  list-style: none;
  padding: 0;
}

.resumo-relatorio li {
  margin: 6px 0;
}

.tipo-grafico {
  margin: 20px;
}

.tipo-grafico button {
  background: none;
  border: 2px solid #3f51b5;
  color: #3f51b5;
  padding: 8px 14px;
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

.tipo-grafico button.ativo {
  background-color: #3f51b5;
  color: white;
}

.grafico-relatorio {
  margin: 20px auto;
  width: 95%;
  max-width: 1000px;
}
