.voltar-para-menu{
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    text-decoration: none;
    padding: 10px 30px;
    color: black;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
   margin: 10px;
   transition: all 0.3s ease;
}
.voltar-para-menu:hover{
    background-color: #2D408E;
    color: #fff;
}
.container-gestao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;


}
.h1-proj{
    color: #CC3F43;
}
.form-projeto-curso {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: #CC3F43;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 30px;
}
.form-projeto-curso input[type="text"] {

    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    flex: 1;
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: border 0.3s;
    color: #000000;
    font-weight: bold;
}

.form-projeto-curso input[type="text"]:focus {
  border-color: #2D408E;
  box-shadow: 0 0 5px rgba(58, 39, 233, 0.6);
}
.form-projeto-curso textarea {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  width: 100%;
  min-height: 150px;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  resize: vertical;
  transition: border 0.3s;
  color: #000000;
  font-weight: 500;
}

.form-projeto-curso textarea:focus {
  border-color: #2D408E;
  box-shadow: 0 0 5px rgba(58, 39, 233, 0.6);
}

.form-projeto-curso input[type="date"] {
  background-color: #ffffff;
  color: #000;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  width: 100%;
    appearance: auto;             
  -webkit-appearance: auto;      
  -moz-appearance: auto;        
  position: relative;
}

.form-projeto-curso input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 1;
  filter: invert(40%) sepia(80%) saturate(500%) hue-rotate(180deg);
  transition: filter 0.2s ease;
}

.form-projeto-curso input[type="date"]::-webkit-calendar-picker-indicator:hover {
  filter: invert(10%) sepia(100%) saturate(600%) hue-rotate(30deg);
}

.form-projeto-curso input[type="date"]:focus {
  border-color: #00c3ff;
}

.form-projeto-curso select {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  color: #000;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(to bottom, #fff, #f9f9f9),
                    url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 16px;
}

.form-projeto-curso select:focus {
 border-color: #2D408E;
  box-shadow: 0 0 5px rgba(58, 39, 233, 0.6);
}


.form-projeto-curso select option[value=""] {
  color: #888;
}


.form-projeto-curso select::-ms-expand {
  display: none;
}



.input-data-wrapper {
  position: relative;
  width: 100%;
}


.input-data-wrapper input[type="date"] {
  background-color: #ffffff;
  color: #000;
  padding: 10px 40px 10px 14px; 
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  cursor: pointer;
  transition: border 0.3s, box-shadow 0.3s;
  appearance: none; 
  -webkit-appearance: none;
}


.input-data-wrapper input[type="date"]:focus {
  border-color: #00c3ff;
  box-shadow: 0 0 5px rgba(0, 195, 255, 0.4);
}


.input-data-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 10px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}


.icon-calendario {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #33438a;
  font-size: 18px;
  pointer-events: none; 
  transition: color 0.3s ease;
}


.input-data-wrapper input[type="date"]:focus + .icon-calendario {
  color: #00c3ff;
}

.projeto-curso-label {
    width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 7px 18px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.projeto-curso-label:hover {
border-color: #2D408E;
  box-shadow: 0 0 5px rgba(58, 39, 233, 0.6);
  
}

.button-salvar {
    font-family: "Montserrat", sans-serif;
    background: #2D408E;
    border: 1px solid #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s, transform 0.1s;
    width: 50%;
    margin-top: 10px;
}

.button-salvar:hover {
  background: #243472;
  transform: scale(1.03);
}
.preview-img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  margin-top: 10px;
}

.grid-projetos-curso-gestao {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  padding: 20px;
  padding: 20px;
  transition: all 0.4s ease;
}
.grid-projetos-gestao.modo-destaque .card-projeto-gestao:not(.ativo) {
  display: none;
}

.card-projeto-curso-gestao {

  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.4s ease;
  position: relative;
}
.card-projeto-curso-gestao.ativo {
  grid-column: 1 / -1; 
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
  padding: 30px;
  transform: scale(1.02);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}
.card-projeto-curso-gestao.ativo img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.card-projeto-curso-gestao.ativo h3 {
  font-size: 1.6rem;
  margin-top: 10px;
  color: #CC3F43;
}
.card-projeto-curso-gestao.ativo p {
  font-size: 1rem;
  line-height: 1.6;
  color: #000;
}
.card-projeto-curso-gestao:hover {
  transform: scale(1.02);
}

.card-projeto-curso-gestao img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card-projeto-curso-gestao h3 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
}

.card-projeto-curso-gestao p{
  color: #CC3F43;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.data-projeto-curso {
  display: block;
  color: #555;
  font-size: 0.8rem;
  margin-top: 4px;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}


.btn-lermais-curso {
  background: transparent;
  border: none;
  color: #CC3F43;
  cursor: pointer;
  font-weight: 600;
  margin-top: 5px;
  transition: color 0.2s ease;
}

.btn-lermais-curso:hover {
  color: #f85e5e;;
}


.acoes-curso {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.btn-editar,
.btn-excluir {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 500;
  transition: transform 0.2s;
}

.btn-editar {
  background: #0DB39E;
  color: white;
}

.btn-excluir {
  background: #CC3F43;
  color: white;
}
.acoes-curso .btn-excluir:hover { 
    background: #7a1620; 

    
}
.btn-editar:hover,
.btn-excluir:hover {
  transform: scale(1.05);
}
.descricao-projeto-curso {
  white-space: pre-wrap; 
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  text-align: justify;
}
.descricao-projeto-curso br + br {
  margin-bottom: 6px;
  display: block;
  content: "";
}

/* Barra de pesquisa */
.filtros-projetos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 25px auto 15px;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.grid-projetos-curso.modo-destaque ~ .filtros-projetos {
  opacity: 0;
  pointer-events: none;
}
.input-wrapper {
  position: relative;
  flex: 1;
  min-width: 250px;
}

.input-filtro-projetos {
    width: 100%;
  padding: 10px 14px 10px 38px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
}

.input-filtro-projetos:focus {
  border-color: #CC3F43;
  box-shadow: 0 0 5px rgba(255, 38, 0, 0.3);
  outline: none;
}
.icone-pesquisa {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 18px;
  pointer-events: none; 
  transition: color 0.3s ease;
}

.input-filtro:focus + .icone-pesquisa {
  color: #00c3ff;
}


.select-wrapper {
  position: relative;
  display: inline-block;
}
.select-filtro-curso {
  font-family: "Montserrat", sans-serif;
  margin-left: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(to bottom, #fff, #f9f9f9),
                    url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.select-filtro-curso:hover {
 border-color: #CC3F43;
  box-shadow: 0 0 5px rgba(255, 38, 0, 0.3);
}

.select-filtro-curso:focus {
  border-color: #2D408E;
  box-shadow: 0 0 5px rgba(39, 58, 233, 0.6);
}
.icone-select {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}


@media (max-width: 470px) {
    .filtros-gestao{
        flex-direction: column;
    }
}