/* chat */
.sessao-chat-privado-geral {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.sessao-chat-privado-aluno {
  background: #f8fafc;
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}
.sessao-chat-privado-geral h3 {
  color: #00155a;
  
}
.sessao-chat-privado-aluno h3 {
  color: #00155a;
  
}
.info-chat-privado {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}

.chat-privado-selecao {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555;
}

.chat-privado-selecao select {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

.btn-chat-privado-abrir {
  background: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.btn-chat-privado-abrir:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.btn-chat-privado-abrir:hover:not(:disabled) {
  background: #0040ff;
}

/* Modal */
.overlay-chat-privado {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-chat-privado {
  position: relative;
  background: #fff;
  padding: 1.2rem;
  border-radius: 12px;
  width: 95%;
  max-width: 650px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 25px rgba(0,0,0,0.3);
}

.btn-fechar-chat-privado {
  position: absolute;
  top: 2px;
  right: 10px;
  background: #b72a4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-fechar-chat-privado:hover {
  background: #7c1e34;
}
.chat-privado-form input{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  color: #000;
}
.chat-privado-form input:focus{
 outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}
.chat-privado-form button{
  background-color: #00155a;
  color: #fff;
  border: none;
  padding: 10px;
  margin-left: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.chat-privado-form button:hover{
  background-color: #0040ff;
}

.mensagens-privado {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  
}

.msg {
  margin-bottom: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.msg.enviada {
  align-self: flex-end;
  background: #1e88e5;
  color: white;
  padding: 6px 10px;
  border-radius: 12px 12px 0 12px;
}

.msg.recebida {
  background: #e0e0e0;
  color: #000;
  padding: 6px 10px;
  border-radius: 12px 12px 12px 0;
}
@media (max-width: 600px) {
    .chat-privado-selecao{
        flex-direction: column;
    }
}