.eventos-gestao-container {
  padding: 40px;
  font-family: "Poppins", sans-serif;
}
.voltar-para-menu{
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    text-decoration: none;
    padding: 10px 30px;
    color: black;
    font-weight: bold;
    font-family: "BM HANNA", sans-serif;
   margin: 10px;
   transition: all 0.3s ease;
}
.voltar-para-menu:hover{
    background-color: #1E3B7D;
    color: #fff;
}
.container-gestao-evento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}
.h1-eventos{
    padding-top: 30px;
    font-family: "BM HANNA", sans-serif;
    color: #7B4C96;
    font-size: 2rem;
    font-weight: 700;
}
.adicionar-evento {
    border: 1px solid black;
  background: linear-gradient(90deg, #a556d3, #15b9cc);
  color: #fff;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}
.adicionar-evento:hover {
    transform: scale(1.03);
     background: linear-gradient(90deg, #a200ff, #00e5ff);

}

.cards-eventos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;

}

.card-evento {
    background: linear-gradient(90deg, #a556d3, #15b9cc);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-evento:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.img-evento {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info-evento {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-evento h2 {
    color: #fff;
    margin-bottom: 4px;
}

.descricao-evento {
    color: #ffd900;
}
.local,.data {
    color: #ffd900;
}

.btn-inscricao-evento {
    border: 1px solid black;
    background-color: #fcfa92;
    color: #a200ff;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-inscricao-evento:hover {
    background: #ffd900;
}

.botoes-evento {    
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.editar-evento, .excluir-evento {
    border: 1px solid black;
    font-family: "Poppins", sans-serif;
    background: #fff;
    color: #a200ff;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.excluir-evento {
    background: #ffcccc;
}
.excluir-evento:hover{
    background: #fd8686;

}
.editar-evento:hover{
    background-color: #00e5ff;
    
}

/* responsividade */

@media (max-width: 900px) {
    .container-gestao-evento{

    justify-content: center;
    flex-direction: column;


}
}