#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0px 18px 18px 0px;
    transition: all .5s;
    width: 100px;
    max-width: 20%;
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    pointer-events: auto;

}
#sidebar.open-sidebar {
    width: 250px;
    max-width: 70%;
}
#sidebar_content {
    padding: 12px;
}

#logo-menu {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#logo-menu img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}


#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 50px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #2D408E;
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #0a0a0a;
}

#open_btn {
  position: absolute;
  top: 30px;
  right: -15px;
  background-color: #2D408E;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  z-index: 3000; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    pointer-events: all;
}

#open_btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

@media (max-width: 440px) {
    #sidebar {
        max-width: 30%;
    }

}