.titulo-video-detalhes{
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.titulo-descricao{
    color: #222;
    font-weight: bold;
}
.descricao-video{
    color: #222;
    padding: 30px;
    text-align: justify;
}
.player-container{
    padding: 10px;
}
.acoes-video {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.btn-editar,
.btn-excluir {
  background: #0DB39E;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 500;
}

.btn-editar:hover {
  background: #0DB39E;
}

.btn-excluir {
  background: #CC3F43;
}

.btn-excluir:hover {
  background: #c0392b;
}

