
.inicio-eventos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-prox{
    margin: 50px 20px;

}
.titulo-prox h1{
    color: #fff;
    margin-bottom: 10px;
}
.titulo-prox a{
    color: #fff;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-color: #D8BB18;
    transition: all 0.3s ease;
}
.titulo-prox a:hover{
    color: #D8BB18;
}

.menu-eventos {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
    padding: 10px 0;
    scroll-behavior: smooth;
}

.card-evento {
    min-height: 200px;
    min-width: 200px; 
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    flex-shrink: 0; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-evento:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-evento p {
    font-weight: 600;
    margin-bottom: 10px;
}

.card-evento a {
    background-color: #7B4C96;
    color: #fff;
    text-decoration: none;
    font-family: "BM HANNA", sans-serif;
    padding: 10px;
    transition: all 0.3s ease;
}

.card-evento a:hover{
    background-color: #15B9CC;
}

@media (max-width: 768px) {
    .inicio-eventos{
        display: block;
        text-align: center;

    }

}