
.inicio-eventos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-prox{
    margin: 50px 20px;

}
.titulo-prox h1{
    color: #fff;
    margin-bottom: 10px;
}
.titulo-prox a{
    color: #fff;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: solid;
    text-decoration-color: #D8BB18;
    transition: all 0.3s ease;
}
.titulo-prox a:hover{
    color: #D8BB18;
}

.menu-eventos {
    display: flex;
    overflow-x: auto; 
    gap: 20px;
    padding: 10px 0;
    scroll-behavior: smooth;
}


@media (max-width: 768px) {
    .inicio-eventos{
        display: block;
        text-align: center;

    }

}