.perfil-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  
  flex-wrap: wrap;
}

.perfil-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

.foto-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
}

.foto-circulo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1a4dc9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.camera-overlay {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background-color: #1a4dc9;
  color: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-overlay:hover {
  background-color: #2c71f6;
}

.camera-overlay input {
  display: none;
}

.btn-salvar-foto {
  background: linear-gradient(135deg, #2c71f6, #1a4dc9);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
}

.btn-salvar-foto:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 10px rgba(26, 77, 201, 0.3);
}

.perfil-info {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  
  color: #222;
}

.perfil-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  color: #222;
}

.alterar-senha {
  margin-top: 20px;
}

.alterar-senha input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #222;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.alterar-senha input:focus {
  border-color: #2c71f6;
  box-shadow: 0 0 5px rgba(44, 113, 246, 0.4);
  outline: none;
}
.senha-wrapper {
  position: relative;
  width: 100%;
}

.senha-wrapper input {
  width: 100%;
  padding-right: 40px; 
}

.btn-mostrar-senha {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}

.btn-mostrar-senha:hover {
  color: #000;
}
