.container-cursos{
    padding: 40px;
  font-family: "Poppins", sans-serif;

}
.voltar-para-menu{
    border-radius: 20px;
    border: 2px solid black;
    background-color: white;
    text-decoration: none;
    padding: 10px 30px;
    color: black;
    font-weight: bold;
    font-family: "BM HANNA", sans-serif;
   margin: 10px;
   transition: all 0.3s ease;
}
.inicio-cursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adicionar-curso{
    text-decoration: none;
    text-align: center;
    margin: 20px;
    background-color: #2575fc;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s ease;
}
.adicionar-curso:hover{
    transform: scale(1.03);
    background-color: #15408b;
}

.lista-cursos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
  gap: 16px;
}
.curso-card {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  color: #15408b;
}
.curso-card .thumb {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.curso-card-body { 
    padding: 12px; 
    display: grid; 
    gap: 8px; 
}

.badge { 
    background: #dbdbdb; 
    border-radius: 999px; 
    padding: 4px 10px; 
    font-size: .8rem; 
    margin-right: 6px; 
    color: #2575fc;
}

.acoes-curso { 
    display: flex; 
    gap: 8px; 

}
.acoes-curso button{
    border-radius: 25px;
    border: none;
    padding: 15px;
    transition: all 0.3s ease; 
}
.acoes-curso .danger { 
    background: #dc3545; 
    color: #fff;
    
}
.acoes-curso button:hover{
    background-color: #7b9c02;
    cursor: pointer;
}
.acoes-curso .danger:hover { 
    background: #7a1620; 

    
}
.ver-detalhes-cursos{
    text-decoration: none;
    color: #fff;
    background-color: #15408b;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    transition: all 0.3s ease; 
}
.ver-detalhes-cursos:hover{
    background-color: #2575fc;
}