

.avisos-professor {
  padding: 20px;
}

.topo-avisos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.botao-postar-avisos {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #0A2E52;
  color: #fff;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.botao-postar-avisos:hover {
  background: #1565c0;
}

.lista-avisos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
}

.aviso-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background: #0A2E52;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.aviso-card h3 {
  margin: 0;
  color: #46A1D1;
}

.aviso-card p {
  margin: 6px 0;
  font-size: 15px;
  text-align: justify;
}

.aviso-card .turmas,
.aviso-card .responsavel,
.aviso-card .data,
.leitores{
  font-size: 14px;
  color: #46A1D1;
}
.sem-avisos{
    color: #000;
}

.acoes-avisos{
    display: flex;
    gap: 10px;
}
.btn-editar-aviso{
    color: #fff;
    text-decoration: none;
    background-color: #0DB39E;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
}
.btn-editar-aviso:hover{
    background-color: #066e1b;
}
.btn-excluir-aviso{
    color: #fff;
    text-decoration: none;
    background-color: #CC3F43;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
}
.btn-excluir-aviso:hover{
    background-color: #7c1508;
}
/* responsividade */
@media (max-width: 500px) {
  .topo-avisos{
    flex-direction: column;
  }
}