.contar-container {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.titulo-ref {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.titulo-ref img {
  width: 80px;
}

.cont h1 {
  font-size: 120px;
  margin: 40px 0 10px;
  color: #3f51b5;
}

.cont p {
  font-size: 22px;
}
.contador-tempo {
  font-size: 32px;
  color: #ff5722;
  font-weight: bold;
  margin-top: 10px;
}
.resultado-final h1 {
  font-size: 80px;
  color: #2e7d32;
}

.voltar-ref {
  font-size: 30px;
  color: #3f51b5;
  text-decoration: none;
  position: absolute;
  left: 30px;
}

.voltar-ref:hover {
  color: #1a237e;
}
.salvar-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.salvar-box input {
    background-color: #fff;
    color: #000;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
}

.salvar-refeicao-btn {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.salvar-refeicao-btn:hover {
  background-color: #303f9f;
}

.salvo-ok {
  color: #2e7d32;
  font-weight: bold;
  margin-top: 15px;
}
