.fundo-admin{
    
    border-radius: 20px;
    margin: 20px;
    min-height: 60%;
    display: flex;
    flex-direction: column;
}
.titulo-admin{
    border-bottom: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.titulo-admin img{
    height: 70px;
}
.titulo-admin p{
    font-family: "Montserrat bold", sans-serif;
    color: #2D408E;
}
.bemvindo-admin{
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
}

.link-gestao{
    border: 2px solid black;
    background-color: #0A2E52;
    font-family: "Montserrat bold", sans-serif;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.link-gestao:hover{
    background-color: #2D408E;
    color: #ffffff;
}

.logout{
    border: 2px solid black;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #CC3F43;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.logout:hover{
    background-color: #833732;
    color: #ffffff;
}
