.nav-menutopo {
  position: fixed;   
  top: 20px;        
  right: 20px;      
  display: flex;
  justify-content: flex-end;
  z-index: 500;     
}
.nav-menutopo ul{ 
    display: flex;
    margin: 0;
    padding: 0;             
}
.nav-menutopo li{
    list-style: none;
}

.nav-menutopo a{
    border: 3px solid black;
    border-radius: 80px;
    padding: 10px;
    margin: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.nav-menutopo a:hover{
    background-color: #2D408E;
    color: white;
    border: 3px solid white;
}
.nav-menutopo a.active{
    background-color: #2D408E;
    color: white;
    border: 3px solid white;
} 
.icone-avisos {
  position: relative;
}

.badge-notificacao {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #CC3F43;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
  line-height: 1;
}
