
.menu-ativ{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.div-cor{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1f1f1f;
  font-size: 11px;
  font-weight: bold;
}
.cor1{
  background-color: #2D408E;
  color: #2D408E;
  border-radius: 5px;
}
.cor2{
  color: #0DB39E;
  background-color: #0DB39E;
  border-radius: 5px;
}
.cor3{
  color: #CC3F43;
  background-color: #CC3F43;
  border-radius: 5px;
}
.titulo-sala-alunos {
  position: relative;
  height: 30%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}


#sala{
    padding-left: 20px; 
    padding-right: 20px; 
    box-sizing: border-box;
}
.menu-turma{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}
.menu-turma a{
    color: black;
    text-decoration: none;
}

.menu-turma a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(155, 155, 155);
}
.menu-turma a.active{
    text-decoration: underline;

}
.acoes-turma {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.btn-acao-turma {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  color: white;
}

.btn-acao-turma.editar { background-color: #3b82f6; }
.btn-acao-turma.arquivar { background-color: #f59e0b; }
.btn-acao-turma.excluir { background-color: #ef4444; }

.btn-acao-turma:hover { 
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-codigo input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.botoes-editar {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.botoes-editar button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
/* atividades */
.ativ-sala{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.prox-ativ {
  background: #fff;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.prox-ativ p {
  font-weight: 600;
  color: #2D408E;
  margin-bottom: 0.8rem;
}

.prox-ativ ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.prox-ativ li {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.prox-link {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
}

.prox-link:hover {
  color: #9c6b09;
  text-decoration: underline;
}
.atividades{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    padding: 20px;    
    width: 100%;

}
.atividade{
  border-left: 10px solid #2D408E;
  background-color: #fff;
  color: #000;
  text-decoration: none;
    transition: all 0.2s ease;
}
.atividade:hover{
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.div-atividade{
  display: flex;
  justify-content: space-between;
}
.div-atividade p{
  font-size: 12px;
}
.div-atividade .prazo{
  color: #9c6b09;
}
.div-atividade .valor{
  color: #00155a;
}
.postar-ativ{
  text-align: center;
}
.botao-postar-ativ {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 6px;
  background: #00155a;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.botao-postar-ativ:hover{
  background-color: #0040ff;
}
/* codigo turma */
.btn-codigo {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  background-color: #00155a;
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-codigo:hover {
  background-color: #0040ff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.03);
}


.overlay-codigo {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}


.modal-codigo {
  background: #fff;
  padding: 3rem 4rem;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
  animation: aparecer 0.3s ease;
}

.modal-codigo h2 {
  color: #2D408E;
  margin-bottom: 1rem;
}
.modal-codigo input{
  background-color: #fff;
  color: #000;
}
.modal-codigo input:focus{
  outline: none;
  border-color: #2D408E;
}
.modal-codigo .labels {
  color: #2D408E;
}
.codigo-grande {
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.btn-copiar-link {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn-copiar-link:hover {
  background-color: #1e40af;
}

.modal-codigo .button-fechar {
  background-color: #b72a4d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;

  cursor: pointer;
  transition: 0.2s;
}
.modal-codigo .salvar{
  background-color: #00155a;
}
.modal-codigo .salvar:hover{
  background-color: #002ab3;
}

.modal-codigo .button-fechar:hover {
  background-color: #8f1f3a;
}
.upload-section-editarTurma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.label-upload-editarTurma {
  background-color: #2D408E;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}

.label-upload-editarTurma:hover {
  background-color: #0A2E52;
}
.link-convite-container{
  color: #00155a;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .menu-turma {
    font-size: 14px;
    justify-content: center; 
  }

  .titulo-sala {
    text-align: center;
    padding: 15px;
  }

  .atividade {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .folder {
    margin-bottom: 10px;
  }
}


@media (max-width: 600px) {
  .acoes-turma{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
  }
  .div-atividade{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-ativ{
    flex-direction: column;
    gap: 0px;
  }
 
  .ativ-sala {
    flex-direction: column; 
    gap: 20px; 
  }

  .prox-ativ,
  .atividade { 
    width: 100%; 
    min-width: unset;
  }

  .atividade {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (max-width: 480px) {
  .menu-turma {
    flex-direction: column;
    align-items: center;
  }

  .prox-ativ,
  .atividade {
    width: 100%; 
    min-width: unset;
  }
}


@media (max-width: 380px) {
  .atividade{
      padding: 10px;
  }
}
