.container-turma.arquivada {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.container-turma.arquivada .btn-acao.desarquivar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2D408E;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}
.titulo-arquivadas{
  font-family: "Montserrat bold", sans-serif;
}
.container-turma.arquivada .btn-acao.desarquivar:hover {
  background-color: #0A2E52; 
}
