.sessao-documentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-documentos{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.titulo-documento{
    font-family: "Montserrat bold", sans-serif;
}
.documento{
    margin: 10px;
    background-color: #fff;
    border: 1px solid black;
    padding: 40px;
    border-radius: 20px;
    color: #2D408E;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}
.documento:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 10px rgba(26, 77, 201, 0.3);
  text-decoration: underline;
  background-color: #c0d3ff;
}

