.barra-pesquisa-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    background-color: #fff;
    border-radius: 30px;
    padding: 0px 20px;
    margin: 15px;
}
.inicio-dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.frase{
    background: #FFEC82;
    background: linear-gradient(90deg,rgba(255, 236, 130, 1) 0%, rgba(251, 188, 5, 1) 100%);
    color: #000;
    font-weight: 500;
    border-radius: 20px;
    padding: 30px;
}
.agenda{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    color: #000;
}
.dashboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* turmas */
.container-turma{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 15px 30px -10px,
                rgba(0, 0, 0, 0.3) 0px 10px 20px -10px;

    width: 220px;      
    height: 250px;     
    padding: 0px;
    margin: 15px;
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.container-turma:hover {
    transform: scale(1.05);
}
.turma-inicio{
    background-color: #868CFD;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    color: rgb(0, 0, 0);
    position: relative;
}
.img-turma{
    display: flex;
    align-items:flex-start;
}
.img-turma img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.kebab-icon {
    position: absolute;
    top: 20px;  
    right: 50px; 
    cursor: pointer;
}
.turma-inicio p{
    margin-top: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.atividades-turma{
  padding: 10px 15px;
  font-size: 14px;
  color: #555;
}

/* avisos */
.section-avisos{
    color: #000;
}
.aviso{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
}
.aviso a{
    background-color: #FBBC05;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    padding: 30px;
    margin-left: 15px;
}

/* responsividade */
@media (max-width: 370px) {
    .container-turma{
        width: 190px;
    }
}