@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BM HANNA";
  src: url('./fonts/bm-hanna-pro.regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}


:root {
  font-family: "Poppins", "BM HANNA", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  
  min-height: 150vh;
  background: linear-gradient(270deg, #EDF0FC, #CCE4F5, #B8C2E0);
  background-size: 800% 800%;

  animation: aurora 10s ease infinite;
}
@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  flex: 1; 
  width: 100%;
  margin-top: 120px;
}
.page {
  flex: 1;             
  display: flex;
  flex-direction: column;
}
.layout {
  display: flex;
}
.page2 {
  margin-left: 80px;   
  transition: margin-left .5s ease;
  flex: 1;
  padding: 20px;
}
#sidebar.open-sidebar ~ .page2 {
  margin-left: 15%; 
}
.eventos-page {
  background: linear-gradient(
    90deg,
    rgba(165, 86, 211, 1) 25%,
    rgba(21, 185, 204, 1) 100%
  );
  background-size: 400% 400%;
  animation: aurora 10s ease infinite;
  flex: 1;
  display: flex;
  flex-direction: column;  
}

.galeria-page {
  background-color: #354E36;
  flex: 1;

}







