.lista-publicacoes-ativ{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.ativ{
  border-radius: 30px;
  padding: 20px;
  border-left: 10px solid #4059AD;
  background-color: #fff;
  color: #000;
  text-decoration: none;
    transition: all 0.2s ease;
}
.ativ:hover{
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}